<!DOCTYPE html>
<!-- Created By CodingNepal - www.youtube.com/codingnepal || www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe Game | CodingNepal</title>
    <link rel="stylesheet" href="css/xostyle.css">
    <script src="https://kit.fontawesome.com/5a6801259a.js"></script>
</head>
<body>

  <div>
    <!-- select box -->
    <div class="select-box">
      <header>Tic Tac Toe</header>
      <div class="content">

        <!-- <p th:text="'Hello, ' + ${name} + '!'" /> -->
        
        <div class="title" style="text-align: center;">Fill board size.
          <input type="number" id="boardSize" name="boardSize" value="3" style="text-align: center; font-size: 22px; width: 20%;">
        </div>
        
        <div class="title">Select which you want to be?</div>

        <div class="options">
          <button class="playerX">Player (X)</button>
          <button class="playerO">Player (O)</button>
        </div>

        <div class="credit">Created By <a href="https://www.youtube.com/codingnepal" target="_blank">CodingNepal</a></div>
        <div class="credit">Modified By <a href="https://github.com/AdisakShopang/excerciseDigio" target="_blank">Adisak Tovititwong</a></div>
        
        <div class="historyBtn">
          <button class="history-board-btn" onclick="renderHistoryBoard()">History Board</button>
          <button class="history-board-clear" onclick="clearHistoryBoard()">History Clear</button>
        </div>
        <div class="history-board" >
          <!-- <p th:text="'historyPlayed, ' + ${historyPlayed} + '!'" /> -->
        </div>

      </div>
    </div> 

    <!-- playboard section -->
    <div class="play-board">
      <div class="details">
        <div class="players">
          <span class="Xturn">X's Turn</span>
          <span class="Oturn">O's Turn</span>
          <div class="slider"></div>
        </div>
      </div>
      <div class="play-area">
        <!-- <section>
          <span class="box1"></span>
          <span class="box2"></span>
          <span class="box3"></span>
        </section>
        <section>
          <span class="box4"></span>
          <span class="box5"></span>
          <span class="box6"></span>
        </section>
        <section>
          <span class="box7"></span>
          <span class="box8"></span>
          <span class="box9"></span>
        </section> -->
      </div>
    </div>

    <!-- result box -->
    <div class="result-box">
      <div class="won-text"></div>
      <div class="history-result"></div>
      <div class="btn"><button>Replay</button></div>
    </div>

    <script src="js/xoscript.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
  </div>

</body>
</html>
